//=========================================
// Main stylesheet
//=========================================
$bgcolor: red;

html {
    background: url(/images/bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    transition: background-image 1s ease-in-out;

}

body {
    background-color: transparent !important;
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-default {
   background-color: rgba(43, 49, 83, 20%) !important;
  
}